@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.full-width-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    transition: background-color 0.3s, color 0.3s;
}

#navbar.scrolled {
    background-color: rgb(0, 0, 0);
    color: white;
}

#navbar.scrolled .logo-link {
    color: white; 
}

#navbar.scrolled .nav-link {
    color: white; 
}

.nav-link {
    color: white;
}

.nav-link.active,
.nav-link:hover {
    color: #fcad03; 
}

#navbar.scrolled .nav-link.active,
#navbar.scrolled .nav-link:hover {
    color: #fcad03; 
}



@media (min-width: 768px) {
    .stats-section h2 {
        font-size: 6rem; 
    }
}

.counter {
    transition: all 0.4s ease-in-out;
  }

/* Experience Section */

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.mb-8 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.opacity-100 {
    opacity: 1;
}

.translate-y-0 {
    transform: translateY(0);
}

/* Skills Section */
.skill-item {
    text-align: center;
}

.skill-item i {
    display: block;
    margin: 0 auto;
}

.skill-item h4 {
    font-size: 1.20rem;
    margin-top: 0.8rem;
    color: #fcfcfc;
}


.bg-dark {
    background-color: #121212;
}

.about-me-container {
    background-color: #000;
    color: #fff;
    padding: 4rem 2rem;
}

.about-me-container h1 {
    color: #FFD700;
}

.about-me-container p span {
    color: #FFD700;
}

.about-me-container img {
    border-color: #FFD700;
}